@model AsocitaitaPentruUnViitorSustenabil.Domain.Membru

@{
    ViewData["Title"] = "Sterge Membru";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="DeleteMember" asp-controller="Home" method="post">
    <div class="form-group">
        <label for="Id">ID Membru</label>
        <input type="text" class="form-control" id="Id" name="Id" required />
    </div>
    <button type="submit" class="btn btn-primary">Sterge Membru</button>
</form>