@model AsocitaitaPentruUnViitorSustenabil.Domain.Eveniment

@{
    ViewData["Title"] = "Gaseste Eveniment";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="FindEvent" asp-controller="Home" method="post">
    <div class="form-group">
        <label for="Nume">Nume Eveniment</label>
        <input type="text" class="form-control" id="Nume" name="Nume" required />
    </div>
    <button type="submit" class="btn btn-primary">Gaseste Eveniment</button>
</form>